.stacked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  padding: 2% 0%; /*set padding above and none in sides*/

  color: white;
  background-color: #3b4990;
}

#main_content {
  margin: 2%;
}